[Unit]
Description=Tg Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/apps/tg-bot-weather
ExecStart=/root/apps/tg-bot-weather/tg-bot-weather
Restart=always
RestartSec=4
StandardOutput=inherit
EnvironmentFile=/root/apps/tg-bot-weather/config.env

[Install]
WantedBy=multi-user.target